body{
    background: gray;
}
#maincanvas{
    border: solid black 5px;
    position: absolute;
    left: 40%;
    top:10%;
    background:#9ee873;
    z-index: -1;
}
#gameover{
    position: absolute;
    top: 20%;
    left: 30%;
    background: red;
    display: none;
}
#finalscore{
    position: absolute;
    top: 28%;
    left: 31%;
    font-size: 33px;
    display: none;
}
#finalscore2{
    font-size: 30px;
    position: absolute;
    top: 28%;
    left: 33%;
    display: none;
}
#why{
    background: white;
}
#up{
    position: absolute;
    left:70%;
    top:45%;
}
#down{
    position: absolute;
    left: 70%;
    top: 55%;
}
#right{
    position: absolute;
    left: 75%;
    top: 50%;
}
#left{
    position: absolute;
    left: 65%;
    top: 50%;
}
#page{
    font-size: 33px;
}
#newgame{
    font-size: 33px;
    cursor: pointer;
}
#score{
    position: absolute;
    left: 20%;
    font-size: 40px;
}
#lab{
    position: absolute;
    left: 20%;
    font-size: 40px;
}
@media screen and (max-width: 600px) {
    #maincanvas {
        width: 200px;
        height:500px;
        left: 3%;
        top: 1%;
    }
    body {
        overscroll-behavior: none;
    }
    
    #score{
        position: absolute;
        top: 25%;
        left: 70%;
    }
    #lab{
        top: 25%;
        left: 60%;
    }
    #newgame{
        position: absolute;
        top: 7%;
        left: 60%;
    }
    #gameover{
        position: absolute;
        left:1%;
    }
    #finalscore2{
        position: absolute;
        left: 12%;
        top: 35%;
    }
    #finalscore{
        position: absolute;
        left: 5%;
        top: 35%;
    }
    #up{
        position: absolute;
        left: 45%;
        top: 80%;
        font-size: 45px;
    }
    #down{
        position: absolute;
        left: 38%;
        top:90%;
        font-size: 45px;
    }
    #right{
        position: absolute;
        left: 72%;
        top: 83%;
        font-size: 45px;
    }
    #left{
        position: absolute;
        left: 15%;
        top:83% ;
        font-size: 45px;
    }
}